<p>
    To switch directories, type <kbd class="pe-kbd">cd</kbd> followed by the name of the directory.
    <br/>To edit settings, press <kbd class="pe-kbd">ctrl</kbd> + <kbd class="pe-kbd">,</kbd>
</p>