<div class="pe-inlineblock">
    <div class="pe-select">
        <label for="se1">Text label</label>
        <select id="se1">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>

    <div class="pe-select pe-select--small">
        <label for="se2">Text label</label>
        <select id="se2">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
</div>


<div class="pe-select pe-select--disabled">
    <label for="se4">Text label</label>
    <select disabled id="se4">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</div>
