<p>
    <q cite="https://en.wikipedia.org/wiki/Lost_in_Space#Catchphrases">That does not compute</q>
    is one of several of the Robot's catchphrases used in the television show <i>Lost in Space</i>.
</p>