<div class="swatch flex wrap row">
    <div style="background:#999;">
        <p class="white">$pitch | #231f20</p>
        <p class="black">$pitch | #231f20</p>
    </div>
    <div class="pitch-bg">
        <p class="white">$pitch | #231f20</p>
        <p class="black">$pitch | #231f20</p>
    </div>
    <div class="gray-no-1-bg">
        <p class="white">$gray-no-1 | #565656</p>
        <p class="black">$gray-no-1 | #565656</p>
    </div>
    <div class="brightly-lit-bg">
        <p class="white">$brightly-lit | #e6e6e6</p>
        <p class="black">$brightly-lit | #e6e6e6</p>
    </div>
    <div class="off-white-bg">
        <p class="white">$off-white | #f2f2f2</p>
        <p class="black">$off-white | #f2f2f2</p>
    </div>
    <div class="dirty-ice-bg">
        <p class="white">$dirty-ice | #f8f8f8</p>
        <p class="black">$dirty-ice | #f8f8f8</p>
    </div>
    <div class="white-bg">
        <p class="white">$white | #ffffff</p>
        <p class="black">$white | #ffffff</p>
    </div>
    <div class="boring-bg">
        <p class="white">$boring | #a6a8ab</p>
        <p class="black">$boring | #a6a8ab</p>
    </div>
    <div class="sidewalk-bg">
        <p class="white">$sidewalk | #b3b3b3</p>
        <p class="black">$sidewalk | #b3b3b3</p>
    </div>
    <div class="hairline-gray-bg">
        <p class="white">$hairline-gray | #d0d0d0</p>
        <p class="black">$hairline-gray | #d0d0d0</p>
    </div>
    <div class="gray-wash-bg">
        <p class="white">$gray-wash | #aeaeae</p>
        <p class="black">$gray-wash | #aeaeae</p>
    </div>
    <div class="black-bg">
        <p class="white">$black | #000000</p>
        <p class="black">$black | #000000</p>
    </div>
    <div class="gutenberg-black-bg">
        <p class="white">$gutenberg-black | #333333</p>
        <p class="black">$gutenberg-black | #333333</p>
    </div>
    <div class="full-moon-bg">
        <p class="white">$full-moon | #424242</p>
        <p class="black">$full-moon | #424242</p>
    </div>
    <div class="asphalt-bg">
        <p class="white">$asphalt | #3f3f3f</p>
        <p class="black">$asphalt | #3f3f3f</p>
    </div>
    <div class="smoke-gray-bg">
        <p class="white">$smoke-gray | #545454</p>
        <p class="black">$smoke-gray | #545454</p>
    </div>
    <div class="highlighter-bg">
        <p class="white">$highlighter | #fdec2e</p>
        <p class="black">$highlighter | #fdec2e</p>
    </div>
    <div class="royal-navy-bg">
        <p class="white">$royal-navy | #094877</p>
        <p class="black">$royal-navy | #094877</p>
    </div>
    <div class="hyperdrive-bg">
        <p class="white">$hyperdrive | #0d65a6</p>
        <p class="black">$hyperdrive | #0d65a6</p>
    </div>
    <div class="basic-blue-bg">
        <p class="white">$basic-blue | #107aca</p>
        <p class="black">$basic-blue | #107aca</p>
    </div>
    <div class="sea-bg">
        <p class="white">$sea | #0c5d99</p>
        <p class="black">$sea | #0c5d99</p>
    </div>
    <div class="deep-sea-bg">
        <p class="white">$deep-sea | #0a4d80</p>
        <p class="black">$deep-sea | #0a4d80</p>
    </div>
    <div class="sky-blue-bg">
        <p class="white">$sky-blue | #9dc0db</p>
        <p class="black">$sky-blue | #9dc0db</p>
    </div>
</div>