<div class="pe-input-group">
    <div class="pe-input">
        <label for="i1">Label text</label>
        <input type="text" id="i1" value="Basic text input field">
        <button class="pe-btn pe-btn--medium">Do Stuff!</button>
    </div>
</div>