<div class="pe-textarea">
    <label for="ta1">Textarea label</label>
    <textarea name="largetext" rows="4" cols="50" id="ta1">Multiple lines of text entry are supported with the textarea element</textarea>
</div>