<div class="pe-inlineblock">
    <div class="pe-textarea pe-textarea--small">
        <label for="ta2">Textarea label</label>
        <textarea name="smalltext" id="ta2">Text area</textarea>
    </div>
    <div class="pe-textarea pe-textarea--small">
        <label for="ta3">Textarea with placeholder</label>
        <textarea name="smalltext" id="ta3" placeholder="Textarea placeholder"></textarea>
    </div>
</div>