<div class="pe-textarea pe-textarea--error">
    <label for="ta5">Textarea label</label>
    <textarea name="errortext" rows="4" cols="50" id="ta5" aria-describedby="ta6-error">Bad text here</textarea>
    <p id="ta6-error" class="pe-error-text">Something went wrong!</p>
</div>