<div class="pe-select pe-select--readonly">
    <label for="se3">Text label</label>
    <select id="se3">
        <option disabled="disabled">Java</option>
        <option selected="selected">CSS</option>
        <option disabled="disabled">HTML</option>
    </select>
</div>