<div class="pe-input-group">
    <div class="pe-input">
        <label for="i2">Search our site</label>
        <input type="text" id="i2" placeholder="course number, course name, instructor">
        <button class="pe-btn pe-btn--medium">
            <i class="pe-icon--search" aria-hidden="true"></i>
            <span class="pe-sr-only">Search</span>
        </button>
    </div>
</div>